<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>其它</title>
    <link rel="stylesheet" href="../static/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css" />
    <script src="../static/bootstrap-5.3.0-alpha1-dist/js/bootstrap.min.js"></script>
  </head>
<body>
    <div class="cover-container d-flex p-3 mx-auto flex-column">
        {% include 'header.html' %}
        <div class="container-md p-3 my-0 border">
            <!--相关设置-->
            {% include 'other_page/operation.html' %}
        </div>
        {% include 'footer.html' %}
    </div>
</body>
</html>