<div class="row">
    <!--文件上传功能-->
    <div class="col-md-8 mt-2">
        <div style="height: 20vh">
            <h3 class="mb-2">文件上传表单</h3>

            <form action="/kg_file" id="upload_form" method="POST" enctype="multipart/form-data">
                <div class="mb-2 mx-auto">
                    <label for="file" class="form-label">选择文件</label>
                    <input type="file" class="form-control-file" id="file" name="file">
                </div>
                <button type="submit" class="btn btn-primary mb-2" data-bs-toggle="modal">上传</button>
            </form>
        </div>
    </div>
    <!--文件列表功能-->
    <div class="col-md-4">
        <div style="height: 20vh;overflow-y: scroll">
            <table class="table">
                <tr>
                    <th>文件列表</th>
                </tr>
                {% for file in file_list %}
                <tr>
                    <td>{{ file }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
